.assortment{
    padding: 15px 0 60px;
}

picture {
    display: block;
    
    height: 100%;
}

.assortment__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 245px);
    gap: 60px;
}

.assortment__item:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
} 

.assortment__item:nth-child(4) {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}

.assortment__item:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.assortment__item:nth-child(6) {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}

.assortment__item:nth-child(7) {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
}

.assortment__item:nth-child(8) {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
}

.assortment__item:nth-child(9) {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
}

.assortment__item:nth-child(10) {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
}

.assortment__item {
    background-image: linear-gradient(181.25deg, rgba(0, 0, 0, 0) 9.116%,rgba(0, 0, 0, 0.2) 99.018%);
    border-radius: 20px;
}

.assortment__item-first {
    position: relative;
    padding: 20px 20px;
    display: flex;
    align-items: end;
    font-weight: 700;
    font-size: 30px;
    line-height: calc(39 / 30);
    z-index: 1;
    
}
.assortment__text-first{
    font-size: 40px;
    line-height: calc(52 / 40);
    white-space: nowrap;
} 

.assortment__img{
    position: absolute; 
    inset: 0; 
    z-index: -1;
    border-radius: 20px;
    width: 100%;
}

.assortment__item-second{
    position: relative;
    padding: 78px 10px 20px 14px;
    font-weight: 700;
    line-height: calc(39 / 30);
    font-size: 30px;
}

.assortment__text-second {
    white-space: nowrap;
}

.assortiment__text-sale_place-bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 1px solid var(--primary-color-yellow);
    background-color: var(--primary-color-yellow);
    display: flex;
    width: 88px;
    height: 88px;
    justify-content: center;
    align-items: center;
    padding: 24px 13px;
}

.assortment__item-third {
    position: relative;
    display: flex;
    align-items: end;
    padding:  20px 22px;
    font-size: 30px;
    line-height: calc(36 / 30);
    
}

.assortment__text-wrapper_third {
    max-width: 510px;
    width: 100%;
    border-radius: 20px;
    padding: 26px 24px;
    background-color: var(--primary-color-blue);
}
.assortment__text-third {
    display: block;
    max-width: 463px;
    font-size: 30px;
    line-height: calc(36 / 30);
}

.assortment__text-third_weight {
    font-size: 40px;
    line-height: calc(48 / 40);
    font-weight: 700;
    text-transform: uppercase;
}

.assortment__item-fourth {
    position: relative;
    display: flex;
    align-items: end;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(52 / 40);
    padding: 30px 30px;
    
}

.assortment__item-fifth {
    position: relative;
    padding: 20px 20px;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
}

.assortment__img-fifth {
    object-position: 40% 54%;
}


.assortiment__text-sale_place-top{
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 1px solid var(--primary-color-yellow);
    background-color: var(--primary-color-yellow);
    display: flex;
    width: 88px;
    height: 88px;
    justify-content: center;
    align-items: center;
    padding: 24px 13px;
}

.assortment__item-sixth {
    position: relative;
    display: flex;
    align-items: end;
    padding: 30px 107px 30px 30px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 700;
}

.assortiment__text-sale_place-bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    line-height: calc(39 / 30);
    border-radius: 50%;
    border: 1px solid var(--primary-color-yellow);
    background-color: var(--primary-color-yellow);
    display: flex;
    width: 88px;
    height: 88px;
    justify-content: center;
    align-items: center;
    padding: 24px 13px;
}

.assortment__item-seventh {
    position: relative;
    display: flex;
    align-items: end;
    padding: 50px 50px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    
}

.assortment__text-seventh {
    padding: 32px 41px;
    background-color: var(--primary-color-white);
    color: var(--primary-color-red);
    border-radius: 20px;
}

.assortment__item-8th{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px 20px;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
}

.assortiment__text-sale_place-bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    line-height: calc(39 / 30);
    border-radius: 50%;
    border: 1px solid var(--primary-color-yellow);
    background-color: var(--primary-color-yellow);
    display: flex;
    width: 88px;
    height: 88px;
    justify-content: center;
    align-items: center;
    padding: 24px 13px;
}

.assortment__item-ninth {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-end;
    padding: 147px 20px 20px 20px ;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
    
}

.assortiment__text-sale_place-top {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    line-height: calc(39 / 30);
    border-radius: 50%;
    border: 1px solid var(--primary-color-yellow);
    background-color: var(--primary-color-yellow);
    display: flex;
    width: 88px;
    height: 88px;
    justify-content: center;
    align-items: center;
    padding: 24px 13px;
}
    .assortment__item-tenth {
        position: relative;
    }
    .assortment__img-8th {
        position: absolute;
        inset: 0; 
        z-index: -1;
        border-radius: 20px;
        width: 100%;
        object-position: 33% 10%;
    }


    @media(max-width:1630px) {
        .assortment__list {
            gap: 25px;
        }
    }


    @media (max-width:1370px) {
        .assortment {
            padding: 11px 0 60px;
        }
    }            

@media(max-width:1250px) {
    .container{
        max-width: 1310px;
    }
    .assortment__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 260px);
        gap: 24px;
    }

    .assortment__text_first-card {
        font-size: 24px;
        line-height: calc(32 / 24);
        font-weight: 400;
    }

    .assortment__item-first {
        padding: 123px 18px 20px 9px;
    }

    .assortment__text-first {
        font-size: 30px;
        line-height: calc(39 / 30);
    }

    .assortment__text-second {
        font-size: 24px;
        line-height: calc(32 / 24);
        white-space: nowrap;
    }
    .assortiment__text-sale_place-bottom{
        bottom: 10px;
        right: 10px;
    }

    .assortiment__text-sale_place-top {
        top: 10px;
        left: 10px;
    }

    .assortment__item-fourth {
        font-size: 30px;
        line-height: calc(39 / 30);
        padding: 29px 20px;
    }

    .assortment__text-third {
        font-size: 30px;
        line-height: calc(36 / 30);
    }

    .assortment__text-third_weight {
        font-size: 40px;
        line-height: calc(48 / 40);
    }
    
    .assortment__item-third {
        padding: 22px;
    }

    .assortment__item-second {
        padding: 58px 31px 126px 9px;
    }

    .assortment__item-sixth {
        font-size: 30px;
        line-height: calc(39 / 30);
        padding: 29px 73px 29px 29px
    }

    .assortment__img-8th {
        width: 100%;
    }

    
    .assortment__text-ninth {
        font-size: 20px;
        line-height: calc(26 / 20);
    }

    .assortment__item-ninth {
        padding: 117px 5px 14px 14px;
        justify-content: flex-end;
    }

    .assortment__text-seventh {
        font-size: 30px;
        line-height: calc(36 / 30);
        padding: 24px 36px;
    }
    .assortment__item-seventh {
        padding: 30px 39px;
    }


    .assortment__item:nth-child(3) {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    } 
    
    .assortment__item:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    
    .assortment__item:nth-child(5) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    
    .assortment__item:nth-child(6) {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    
    .assortment__item:nth-child(7) {
        grid-column: 1 / 5;
        grid-row: 5 / 7;
    }
    
    .assortment__item:nth-child(8) {
        grid-column: 3 / 4;
        grid-row: 3 / 5;
    }
    
    .assortment__item:nth-child(9) {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }
    
    .assortment__item:nth-child(10) {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }
    .assortment__text-seventh {
        font-size: 30px;
        line-height: calc(36 / 30);
        padding: 24px 46px;
        max-width: 513px;
        width: 100%;
    }
}  

@media (max-width:800px) {
    .assortment {
        padding: 20px 0 60px;
    }
    .assortment__text-third {
        font-size: 16px;
        line-height: 1.1;
    }

    .assortment__text-third_weight {
        font-size: 26px;
        line-height: 1.1;
    }

    .container{
        max-width: 860px;
    }
    .assortment__item  {
        font-size: 16px;
    }
    .assortment__list {
        display: grid;
        grid-template-columns: repeat(36, 1fr);
        grid-template-rows: repeat(13, 60px);
        gap: 13px;
    }
    .assortiment__text-sale_place-bottom,
    .assortiment__text-sale_place-top {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 1.3;
    }  
    .assortment__item-second{
        padding: 15px 25px 15px 5px;
        
    }
    
    .assortment__text-second {
        line-height: 1.3;
        font-size: 16px;
    } 
    .assortment__item-first {
        padding: 48px 4px 16px 10px;
    }
    .assortment__item-third {
        padding: 10px;
    }
    /* .assortment__item:nth-child(3) {
        grid-column: 3 / 6;
        grid-row: 1 / 4;
        max-width: 380px;
        max-height: 380px;
        height: 100%;
    } */
    .assortment__img-third {
        width: 100%;
    }

    .assortment__text-wrapper_third {
        padding: 16px 28px;
        border-radius: 12px;
    }

    .assortment__text-third {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
    }

    .assortment__text-third_weight {
        font-size: 26px;
        font-weight: 700;
        line-height: 1.3;
    }

    .assortment__item:nth-child(1) {
        grid-column: 1 / 9;
        grid-row: 1 / 3;
        
    }
    .assortment__item:nth-child(2) {
        grid-column: 9 / 17;
        grid-row: 1 / 3;
        
    }
    .assortment__item:nth-child(5) {
        grid-column: 1 / 17;
        grid-row: 3 / 5;
        
    }
    .assortment__item:nth-child(3) {
        grid-column: 17 / 37;
        grid-row: 1 / 6;
        
    }
    .assortment__item:nth-child(4) {
        grid-column: 1 / 17;
        grid-row: 5 / 7;
        
    }
    .assortment__item:nth-child(6) {
        grid-column: 1 / 17;
        grid-row: 7 / 9;
        
    }
    .assortment__item:nth-child(8) {
        grid-column: 17 / 29;
        grid-row: 6 / 9;
    } 
    .assortment__item:nth-child(9) {
        grid-column: 29 / 37;
        grid-row: 6 / 8;
        
    }
    .assortment__item:nth-child(10) {
        grid-column: 29 / 37;
        grid-row: 8 / 9;
        
    }

    .assortment__item:nth-child(7) {
        grid-column: 1 / 37;
        grid-row: 9 / 14;
        
    }
    .assortment__img-tenth {
        width: 100%;
        object-position: right ;
    }
    .assortment__img-8th {
        /* object-fit: cover; */
        object-position: 41% 10%;
    }
    .assortment__item-seventh {
        justify-content: center;
    }
    .assortment__text-ninth {
        font-size: 16px;
        line-height: calc(20 / 16);
    }
    
}
@media(max-width:690px) {
    .assortment__list {
        gap: 8px;
    }
    .assortment__text-first {
        font-size: 25px;
    }
    .assortment__text_first-card {
        font-size: 19px;
    }
    .assortment__text-second {
        white-space: normal;
    }
    .assortment__text-seventh {
        font-size: 20px;
        line-height: 1.2;
        padding: 22px 33px;
        max-width: 347px;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}


@media(max-width:515px){
    .container {
        max-width: 547px;
        padding: 0 16px;
    }
    .assortment__list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(9, 130px);
        gap: 20px;
    }
    .assortiment__text-sale_place-top {
        top: 5px;
        left: 5px;
    }
    .assortiment__text-sale_place-botoom {
        bottom: 5px;
        right: 5px;
    }

    .assortment__item-first {
        padding: 10px;
    }
    .assortment__text_first-card {
        font-size: 12px;
        max-width: 65px;
    }
    .assortment__text-first {
        font-size: 16px;
    }
    .assortment__item-second {
        padding: 28px 38px 28px 10px;
        
    }
    .assortment__text-second {
        font-size: 12px;
    }
    .assortment__item:nth-child(1) {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        
    }
    .assortment__item:nth-child(2) {
        grid-column: 5 / 9;
        grid-row: 1 / 2;
        
    }
    .assortment__item:nth-child(5) {
        grid-column: 1 / 9;
        grid-row: 2 / 3;
        
    }
    .assortment__item:nth-child(3) {
        grid-column: 1 / 9;
        grid-row: 3 / 5;
        
    }
    .assortment__item:nth-child(4) {
        grid-column: 1 / 9;
        grid-row: 5 / 6;
        
    }
    .assortment__item:nth-child(6) {
        grid-column: 1 / 9;
        grid-row: 6 / 7;
        
    }
    .assortment__item:nth-child(8) {
        grid-column: 1 / 5;
        grid-row: 7 / 9;
    }
    .assortment__item:nth-child(9) {
        grid-column: 5 / 9;
        grid-row: 7 / 8;
        
    }
    .assortment__item:nth-child(10) {
        grid-column: 5 / 9;
        grid-row: 8 / 9;
        
    }

    .assortment__item:nth-child(7) {
        grid-column: 1 / 9;
        grid-row: 9 / 10;
        
    }
    .assortment__img-first,
    .assortment__img-second,
    .assortment__img-third,
    .assortment__img-fourth,
    .assortment__img-fifth,
    .assortment__img-sixth,
    .assortment__img-seventh,
    .assortment__img-8th,
    .assortment__img-ninth,
    .assortment__img-tenth{
        width: 100%;
    }

    .assortment__item-seventh {
        padding: 9px 15px 9px 15px;
        
    }

    .assortment__text-seventh {
            font-size: 12px;
            line-height: 1.2;
            padding: 7px 41px 9px;
            border-radius: 6px;
    }
}
    @media (max-width:425px) { 
        .assortment {
            padding: 10px 0 60px;
        }
        .assortment__text-third {
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.1;
        }
    
        .assortment__text-third_weight {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.1;
        } 
        .assortment__text-wrapper_third {
            padding: 9px 25px;
            border-radius: 8px;
        }
    }


    @media (max-width:360px) { 
        .assortment {
            padding: 10px 0 60px;
        }
        .assortment__text-third {
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.1;
        }
    
        .assortment__text-third_weight {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.1;
        } 
        .assortment__text-wrapper_third {
            padding: 9px 25px;
            border-radius: 8px;
        }
    }

    @media (max-width:330px) {
        .assortment__text-seventh {
        padding: 7px 19px 9px;
        
        }
    }
    
    


