.banner {
    padding: 45px 0 15px;

}


.banner__wrapper {
    padding: 145px 112px 40px 112px;
    position: relative;
    background-image: url("../img/banner.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 480px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: -1;
}

.banner__wrapper::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    z-index: -1;
}

.banner__text-sale {
    font-weight: 700;
    font-size: 70px;
    line-height: calc(91 / 70);
    margin-bottom: 100px;
}

.banner__text-promotion{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
    margin-bottom: 5px;
}

.banner__list{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.banner__item{
    font-weight: 700;
    font-size: 60px;
    line-height: calc(78 / 60);
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.banner__item-text{
    font-weight: 700;
    font-size: 32px;
    line-height: calc(42 / 32);
}

@media(max-width:1024px) {

    .banner {
        padding: 30px 0 11px;
    }
    .banner__wrapper {
        padding: 80px 130px 36px 80px;
        background-image: url("../img/banner_1024px.jpg");
        min-height: 314px;
    }
    .banner__text-sale {
        max-width: 236px;
        font-size: 40px;
        margin-bottom: 11px;
    }
    .banner__text-promotion{
        margin-bottom: 10px;
    }
    .banner__text-promotion{
        font-size: 16px;
        line-height: calc(21 / 16);
        margin-bottom: 10px;
    }
    .banner__list{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .banner__item{
        font-size: 40px;
        line-height: 1.3;
        gap: 5px;
    }
    .banner__item-text{
        font-size: 20px;
        line-height: 1.3;
    }
    
}
@media(max-width:768px) {

    .banner {
        padding: 28px 0 20px;
    }
    .banner__wrapper {
        padding: 63px 80px 33px 80px;
        background-image: url("../img/banner_768px.jpg");
        min-height: 280px;
        
    }
    .banner__text-sale {
        font-size: 30px;
        margin-bottom: 82px;
    }
    .banner__text-promotion{
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 1.3;
    }
    .banner__list{
        gap: 10px;
    }
    .banner__item{
        font-size: 30px;
        line-height: 1.3;
        gap: 3px;
    }
    .banner__item-text{
        font-size: 16px;
        line-height: 1.3;
    }
    
}

@media(max-width:320px) {

    .banner {
        padding: 21px 0 20px;
    }
    .banner__wrapper {
        padding: 59px 29px 30px 29px;
        background-image: url("../img/banner_320px.jpg");
        min-height: 280px;
    }
    .banner__text-sale {
        font-size: 22px;
        margin-bottom: 189px;
    }
    .banner__text-promotion{
        font-size: 8px;
        margin-bottom: 6px;
        line-height: 1.3;
    }
    .banner__list{
        gap: 8px;
    }
    .banner__item{
        font-size: 20px;
        line-height: 1.3;
        gap: 2px;
    }
    .banner__item-text{
        font-size: 12px;
        line-height: 1.3;
    }
    
}