.header {
    padding: 27px 0 45px;
    
}
.header__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(max-content, 190px) minmax(min-content, 151px)
    minmax(min-content, 757px) minmax(min-content, 341px);
    grid-template-areas: 
    "logo menu form list";
    justify-content: space-between;
}

.header__link-logo {
    grid-area: logo;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    max-width: 190px;
}

.header__logo {
    max-width: 100%;
    max-height: 41px;
    object-position: center;
    object-fit: contain;
}


.header__button-menu {
    display: flex;
    gap: 7px;
    align-items: center;
    grid-area: menu;
    padding: 9px 28px 12px 30px; 
    font-size: 22px;
    line-height: 150%;
    background-color: var(--primary-color-dark-blue);
    border-radius: 10px;
    color: var(--primary-color-white);
}

.header__button-svg {
    flex-shrink: 0;
}
.form {
    position: relative;
    grid-area: form;
    max-height: 54px;
}

.header__button-serch {
    padding: 9px 32px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    
    background-color: var(--primary-color-dark-blue);
    border-radius: 30px;
}

.header__serch {
    padding: 15px 110px 18px 40px;
    border-radius: 30px;
    background-color: var(--primary-color-dark-white);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    width: 100%;
    border-color: transparent;
    max-height: 54px;
}

.header__serch:-webkit-input-placeholder{
    color: var(--primary-color-grey);
}

.header__item-login {
    color: var(--primary-color-dark-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.header__svg-wrapper {
    position: relative;
}

.header__button-count {
        position: absolute;
        display: flex;
        top: 0px;
        right: 0px;
        transform: translate(-19%, 10%);
        background-color: #fff;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        color: #3670C7;
        font-size: 14px;
        font-weight: 700;
        line-height: 130%;
        justify-content: center;
        align-items: center;
}


.header__item-button { 
        display: flex;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(21 / 16);
        flex-direction: column;
        align-items: center;
        gap: 7px;
}

.header__item-cart {
    color: var(--primary-color-dark-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.header__item-favorites {
    color: var(--primary-color-dark-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    max-width: max-content;
}

.header__list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: baseline;
    justify-content: space-between;
}

@media (max-width:1550px) {
    .header__wrapper {
        grid-template-columns: minmax(max-content, 190px) minmax(min-content, 151px) minmax(min-content, 608px) minmax(min-content, 305px);
    }
}
    
@media (max-width:1370px) {
    .container {
        max-width: 1430px;
    }
    .header__wrapper {
        display: grid;
        row-gap: 34px;
        column-gap: 45px;
        grid-template-columns: minmax(151px, max-content) 12% minmax(300px, 700px);
        grid-template-areas: 
        "logo logo list"
        "menu form form";
    }
    
    
    .header__list {
        gap: 40px;
        justify-content: end;
    }
    .header__button-serch {
        right: 0px;
    }
}

@media (max-width:800px) {
    .container {
        max-width: 860px;
    }
    .header__logo {
        max-width: 165px;
    }
    .header__button-text {
        font-size: 16px;
        line-height: 150%;
    }
    
    .header__wrapper {
            display: grid;
            row-gap: 29px;
            align-items: stretch;
            column-gap: 45px;
            grid-template-columns: minmax(115px ,max-content ) 36% minmax(100px, 540px);
            grid-template-areas:
            "logo logo list"
            "menu form form";
    }
    
    .header__list {
        gap: 15px;
        
        }
    .header__item-text {
        font-size: 12px;
        line-height: 1.3;
    }
    .header__svg-icon {
        max-width: 30px;
        max-height: 30px;
    }

    .header__item-button {
        gap: 3px;
    }
    .form {
        max-height: 42px;
    }
    .header__button-menu {
        font-size: 16px;
        padding: 7px 21px 11px 21px;
        border-radius: 6px;
    }

    .header__serch {
        padding: 11px 110px 16px 30px;
        font-size: 12px;
        line-height: 1.3;
        max-height: 100%;
        
    }
    .header__button-serch {
        padding: 5px 26px;
        max-width: 84px;
        width: 100%;
        background-size: 21px;
    }
    .header__button-count {
        font-size: 13px;
        width: 12px;
        height: 12px;
    }
}

@media (max-width:530px) {
    .header__wrapper {
        column-gap: 25px;
    }
}

@media (max-width:470px) {
    .container {
        max-width: 530px;
    }
    .header__wrapper {
        display: grid;
        row-gap: 20px;
        align-items: stretch;
        grid-template-columns: repeat(2, min-content);
        grid-template-areas:
        "logo logo"
        "menu list"
        "form form";
        align-items: end;
    }
    .header__logo {
        max-width: 114px;
    }
    .header__button-menu {
        font-size: 12px;
        line-height: 1.5;
        padding: 5px 14px 7px 31px;
    }
    
    .form {
        max-height: 30px;
    }
    .header__serch {
        max-width: 100%;
        padding: 11px 70px 9px 18px;

    }
    .header__serch::placeholder {
        font-size: 8px;
    }
    .header__item-text {
        display: none;
    }
    .header__list {
        
        gap: 25px;
    }

    .header__button-serch {
        padding: 6px 24px;
        top: -1px;
        max-height: 100%;
        max-width: 66px;
    }
    .header__button-svg {
        width: 20px;
        height: 20px;
    }

    .header__serch {
        max-width: 100%;
        padding: 4px 70px 6px 17px;
    }
    .header__button-text {
        font-size: 12px;
    }
    .header__button-svg {
        width: 14px;
        height: 14px;
    }
    .header__button-menu {
        font-size: 12px;
        padding: 5px 14px 7px 15px;
        min-width: 79px;
        gap: 4px;
        border-radius: 4px;
    }
}/*
@media (max-width:768px) {
    .header__wrapper {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 165px 294px ;
        align-items: baseline;
        row-gap: 29px;
        column-gap: 50px;
        grid-template-areas: 
        "logo list"
        "menu form";
    }
    .header__button-menu {
        max-width: 115px;
        padding: 7px 21px 11px 49px;
        font-size: 16px;
        line-height: calc(24 / 16);
    }
    .header__button-menu::before {
        width: 18px;
        height: 12px;
        top: 14px;
        left: 24px;
    }
    .form {
        right: 254px;
        min-width: 600px;
    }
    .header__serch {
        padding: 11px 0 15px 30px;
        font-size: 16px;
    }
    .header__serch {
        max-width: 533px;
        width: 100%;
        border-color: transparent;
    }
    .header__button-serch {
        left: 445px;
    }
    .header__list {
        gap: 30px;
    }
    .header__item-button {
        font-size: 12px;
        line-height: calc(15 / 12);
    }
    .header__item-button_login-icon::before {
        width: 20px;
        height: 20px;
        background-image: url(../img/login_20px.svg);
    }

    .header__item-button_cart-icon::before {
        width: 30px;
        height: 30px;
        bottom: 19px;
        background-image: url(../img/shopping_cart_30px.svg);
        background-repeat: no-repeat;
    }
    .header__item-button_favorites-icon::before {
        bottom: 20px;
        background-image: url(../img/like_30px.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px 30px;
        }
        .header__button-serch {
            max-height: 45px;
            bottom: 47px;
        }
}

@media (max-width:728px) {
        .header__serch {
        max-width: 429px;
        width: 100%;
        border-color: transparent;
    }
    .form {
        right: 84px;
    }
    .header__button-serch {
        left: 351px;
    }
    .header__serch {
        max-width: 343px;
        width: 100%;
        border-color: transparent;
    }
    .header__button-serch {
        left: 275px;
    }
}

@media (max-width:320px) {
    .header__wrapper {
        display: grid;
        grid-template-columns: 79px 130px ;
    }
    .header__button-menu {
        max-width: 79px;
        font-size: 12px;
        line-height: calc(18 / 12);
        padding: 5px 14px 7px 31px ;
    }
    .header__button-menu::before {
        top: 11px;
        left: 17px;
        width: 18px;
        height: 9px;
        background-image: url("../img/menu-line_10px.svg");
    }
    .header__list {
        max-width: 130px;
        gap: 25px;
    }
    
    .header__button-serch {
        left: 151px;
    }
    .header__serch {
        max-width: 143px;
        width: 100%;
    }
    .header__wrapper {
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "logo logo " 
        "menu list" 
        "form form ";
        }
    .header__item-text{
        display: none;
    } 
    .header__item-button_login-icon::before{
        bottom: 0;
    }

    .header__item-button_cart-icon::before{
        bottom: -7px;
        background-size: 25px 25px;
    }

    .header__item-button_favorites-icon::before {

        background-image: url("../img/like_20px.svg");
        bottom: -1px;
        background-size: 21px 25px;
        } 
        .header__logo {
            max-width: 114px;
            max-height: 25px;
        }
    .header__serch {
        max-width: 260px;
        width: 100%;
        padding: 9px 0px 11px 16px;
        font-size: 8px;
        line-height: calc(10 / 8);
        max-height: 30px;
    }
    .header__button-serch {
        padding: 15px 5px;
        max-height: 30px;
        max-width: 50px;
        top: -30px;
        left: 210px;
        background-size: 15px 15px;
    }
    .form {
        left: 0;
        max-width: 280px;
        max-height: 30px;
    }
} */
