.header {
    padding: 27px 0 45px;
    
}

.header__wrapper {
    display: grid;
    align-items: center;
    grid-template-areas: 
    "logo menu form list";
    align-items: end;
    /* grid-template-columns: repeat(4, minmax(90px, max-content)); */
    justify-content: space-between;
    /* grid-template-rows: repeat(1, 1fr); */
    /* gap: 55px; */
    /* grid-template-columns: repeat(auto-fit, minmax(63px, 1fr)); */

    /* gap: 10px; */
}

/* .header__logo {
    max-width: 190px;
    height: 41px;
    display: block;
} */

.header__link-logo {
    grid-area: logo;
    height: 100%;
    display: flex;
    align-items: end;
    max-width: 190px;
}

.header__logo {
    max-width: 100%;
    max-height: 41px;
    object-position: center;
    object-fit: contain;

}

.header__button-menu {
    grid-area: menu;
    position: relative;
    padding: 9px 28px 12px 61px;
    font-size: 22px;
    line-height: 150%;
    background-color: var(--primary-color-dark-blue);
    border-radius: 10px;
    color: var(--primary-color-white);
}

.header__button-menu::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    display: block;
    top: 21px;
    left: 30px;
    background-image: url("../img/line-menu.svg");
    background-repeat: no-repeat;
}

.form {
    grid-area: form;
    max-height: 54px;
    min-width: 651px;
    width: 100%;
}



.header__serch {
    padding: 15px 110px 18px 40px;
    border-radius: 30px;
    background-color: var(--primary-color-dark-white);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    max-width: 656px;
    width: 100%;
    border-color: transparent;
}

.header__serch:-webkit-input-placeholder{
    color: var(--primary-color-grey);
}

.header__button-serch {
    position: relative;
    bottom: 56px;
    left: 560px;
    width: 101px;
    height: 54px;
    display: block;
    background-image: url(../img/serch.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-color-dark-blue);
    padding: 14px 38px 14px;
    border-radius: 30px;
}

.header__item-login {
    position: relative;
    color: var(--primary-color-dark-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.header__item-button {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
}

.header__item-button_login-icon::before{
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/login.svg");
}

.header__item-cart {
    position: relative;
    color: var(--primary-color-dark-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.header__item-button_cart-icon::before{
    content: "";
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/shopping_cart.svg");
} 

.header__item-favorites {
    position: relative;
    color: var(--primary-color-dark-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    max-width: max-content;
}

.header__item-button_favorites-icon::before{
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 27px;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/like.svg");
}

.header__list {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}

.header__item:first-child {
    max-width: max-content;
}  

.header__item:nth-child(2) {
    max-width: max-content;
}

.header__item:nth-child(3) {
    max-width: max-content;
}



@media (max-width:1530px) {
    .form {
        min-width: 451px;
    } 

    .header__button-serch {
        left: 380px;
    } 

    .header__list {
        gap: 20px;
    }        
}

@media (max-width:1280px) {
    .form {
        min-width: 351px;
    } 

    .header__button-serch {
        left: 280px;
    } 

    .header__list {
        gap: 5px;
    }        
}

@media (max-width:1150px) {
    .form {
        max-width: 240px;
    } 

    .header__button-serch {
        left: 250px;
    } 

    .header__list {
        gap: 3px;
    }        
}

@media (max-width:1024px) {
    .header__wrapper {
        grid-template-rows: repeat(2, minmax(1fr, auto-fit));
        grid-template-columns: 190px 294px ;
        row-gap: 34px;
        grid-template-areas: 
        "logo list"
        "menu form";
    }
    
    .header__button-menu {
        max-width: 151px;
    }
    .form {
        position: relative;
        right: 365px;
        bottom: 0;
        min-width: 700px;
    }

    .header__button-serch {
        left: 556px;
    }      
}

@media (max-width:880px) {
    .form {
        right: 254px;
        min-width: 600px;
    }
    .header__serch {
        max-width: 533px;
        width: 100%;
        border-color: transparent;
    }
    .header__button-serch {
        left: 445px;
    }
}

@media (max-width:768px) {
    .header__wrapper {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 165px 294px ;
        align-items: baseline;
        row-gap: 29px;
        column-gap: 50px;
        grid-template-areas: 
        "logo list"
        "menu form";
    }
    .header__button-menu {
        max-width: 115px;
        padding: 7px 21px 11px 49px;
        font-size: 16px;
        line-height: calc(24 / 16);
    }
    .header__button-menu::before {
        width: 18px;
        height: 12px;
        top: 14px;
        left: 24px;
    }
    .form {
        right: 254px;
        min-width: 600px;
    }
    .header__serch {
        padding: 11px 0 15px 30px;
        font-size: 16px;
    }
    .header__serch {
        max-width: 533px;
        width: 100%;
        border-color: transparent;
    }
    .header__button-serch {
        left: 445px;
    }
    .header__list {
        gap: 30px;
    }
    .header__item-button {
        font-size: 12px;
        line-height: calc(15 / 12);
    }
    .header__item-button_login-icon::before {
        width: 20px;
        height: 20px;
        background-image: url(../img/login_20px.svg);
    }

    .header__item-button_cart-icon::before {
        width: 30px;
        height: 30px;
        bottom: 19px;
        background-image: url(../img/shopping_cart_30px.svg);
        background-repeat: no-repeat;
    }
    .header__item-button_favorites-icon::before {
        bottom: 20px;
        background-image: url(../img/like_30px.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px 30px;
        }
        .header__button-serch {
            max-height: 45px;
            bottom: 47px;
        }
}

@media (max-width:728px) {
        .header__serch {
        max-width: 429px;
        width: 100%;
        border-color: transparent;
    }
    .form {
        right: 84px;
    }
    .header__button-serch {
        left: 351px;
    }
    .header__serch {
        max-width: 343px;
        width: 100%;
        border-color: transparent;
    }
    .header__button-serch {
        left: 275px;
    }
}

@media (max-width:320px) {
    .header__wrapper {
        display: grid;
        grid-template-columns: 79px 130px ;
    }
    .header__button-menu {
        max-width: 79px;
        font-size: 12px;
        line-height: calc(18 / 12);
        padding: 5px 14px 7px 31px ;
    }
    .header__button-menu::before {
        top: 11px;
        left: 17px;
        width: 18px;
        height: 9px;
        background-image: url("../img/menu-line_10px.svg");
    }
    .header__list {
        max-width: 130px;
        gap: 25px;
    }
    
    .header__button-serch {
        left: 151px;
    }
    .header__serch {
        max-width: 143px;
        width: 100%;
    }
    .header__wrapper {
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "logo logo " 
        "menu list" 
        "form form ";
        }
    .header__item-text{
        display: none;
    } 
    .header__item-button_login-icon::before{
        bottom: 0;
    }

    .header__item-button_cart-icon::before{
        bottom: -7px;
        background-size: 25px 25px;
    }

    .header__item-button_favorites-icon::before {

        background-image: url("../img/like_20px.svg");
        bottom: -1px;
        background-size: 21px 25px;
        } 
        .header__logo {
            max-width: 114px;
            max-height: 25px;
        }
    .header__serch {
        max-width: 260px;
        width: 100%;
        padding: 9px 0px 11px 16px;
        font-size: 8px;
        line-height: calc(10 / 8);
        max-height: 30px;
    }
    .header__button-serch {
        padding: 15px 5px;
        max-height: 30px;
        max-width: 50px;
        top: -30px;
        left: 210px;
        background-size: 15px 15px;
    }
    .form {
        left: 0;
        max-width: 280px;
        max-height: 30px;
    }
}
