.header {
    padding: 27px 0 45px;
    
}
.header__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(max-content, 190px) minmax(min-content, 151px)
    minmax(min-content, 757px) minmax(min-content, 341px);
    grid-template-areas: 
    "logo menu form list";
    align-items: center;
    justify-content: space-between;
}

.header__link-logo {
    grid-area: logo;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    max-width: 190px;
}

.header__logo {
    max-width: 100%;
    max-height: 41px;
    object-position: center;
    object-fit: contain;
}

.header__button-menu {
    grid-area: menu;
    position: relative;
    padding: 9px 28px 12px 61px;
    font-size: 22px;
    line-height: 150%;
    background-color: var(--primary-color-dark-blue);
    border-radius: 10px;
    color: var(--primary-color-white);
}

.header__button-menu::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    display: block;
    top: 21px;
    left: 30px;
    background-image: url("../img/line-menu.svg");
    background-repeat: no-repeat;
}

.form {
    position: relative;
    grid-area: form;
    max-height: 54px;
}

.header__button-serch {
    padding: 14px 38px;
    position: absolute;
    display: block;
    top: 0;
    right: 0px;
    height: 100%;
    max-width: 101px;
    width: 100%;
    background-color: var(--primary-color-dark-blue);
    background-image: url(../img/serch.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    border-radius: 30px;
}

.header__serch {
    padding: 15px 110px 18px 40px;
    border-radius: 30px;
    background-color: var(--primary-color-dark-white);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    max-width: 757px;
    width: 100%;
    border-color: transparent;
    height: 100%;
}

.header__serch:-webkit-input-placeholder{
    color: var(--primary-color-grey);
}

.header__item-login {
    color: var(--primary-color-dark-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.header__item_cart-img {
    width: 30px;
    height: 30px;
}

.header__item-button { 
        display: flex;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(21 / 16);
        flex-direction: column;
        align-items: center;
        gap: 10px;
}

.header__item-cart {
    position: relative;
    color: var(--primary-color-dark-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.header__item-favorites {
    position: relative;
    color: var(--primary-color-dark-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    max-width: max-content;
}

.header__list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: end;
    justify-content: space-between;
}

@media (max-width:1024px) {
    .container {
        max-width: 1000px;
    }
    .header__wrapper {
        display: grid;
        row-gap: 34px;
        
        grid-template-columns: minmax(min-content, max-content) 31% max-content;
        grid-template-areas: 
        "logo logo list"
        "menu form form";
    }
    .form {
        max-width: 700px;
    }
    
    .header__list {
        gap: 40px;
    }
    .header__button-serch {
        right: 0px;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 760px;
    }
    .header__logo {
        max-width: 165px;
    }
    
    .header__wrapper {
            display: grid;
            row-gap: 29px;
            align-items: stretch;
            column-gap: 45px;
            grid-template-columns: minmax(min-content, 115px) 36% minmax(min-content, 540px);
            grid-template-areas:
            "logo logo list"
            "menu form form";
    }
    nav {
        max-width: 221px;
    }
    .header__list {
        max-width: 221px;
        gap: 30px;
        justify-content: center;
        }
    .header__item-text {
        font-size: 12px;
        line-height: 1.3;
    }
    .header__item_login-img {
        width: 20px;
        height: 20px;
    }
    .header__item_cart-img {
        width: 25px;
        height: 25px;
    }
    .header__item_favorite-img {
        width: 25px;
        height: 22px;
    }
    .header__item-button {
        gap: 3px;
    }
    .form {
        max-height: 42px;
    }
    .header__button-menu {
        font-size: 16px;
        padding: 7px 21px 11px 49px;
    }
    .header__button-menu::before {
            width: 18px;
            height: 12px;
            top: 15px;
            left: 24px;
            
        }

    .header__serch {
        padding: 11px 110px 16px 30px;
        font-size: 12px;
        line-height: 1.3;
        max-width: 540px;
        
    }
    .header__button-serch {
        padding: 10px 30px;
        max-width: 84px;
        width: 100%;
        background-size: 21px;
    }
}

@media (max-width:320px) {
    .container {
        max-width: 340px;
    }
    .header__wrapper {
        display: grid;
        row-gap: 20px;
        align-items: stretch;
        grid-template-columns: repeat(2, min-content);
        grid-template-areas:
        "logo logo"
        "menu list"
        "form form";
    }
    .header__logo {
        max-width: 114px;
    }
    .header__button-menu {
        font-size: 12px;
        line-height: 1.5;
        padding: 5px 14px 7px 31px;
    }
    .header__button-menu::before {
        top: 11px;
        left: 15px;
        background-size: 11px 7px;
    }
    .form {
        max-height: 30px;
    }
    .header__serch {
        max-width: 280px;
        padding: 9px 70px 9px 16px;

    }
    .header__serch::placeholder {
        font-size: 8px;
    }
    .header__item-text {
        display: none;
    }
    .header__list {
        max-width: 130px;
        gap: 25px;
    }
    .header__button-serch {
        padding: 9px 19px;
        background-size: 15px;
        top: -1px;
    }
}/*
@media (max-width:768px) {
    .header__wrapper {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 165px 294px ;
        align-items: baseline;
        row-gap: 29px;
        column-gap: 50px;
        grid-template-areas: 
        "logo list"
        "menu form";
    }
    .header__button-menu {
        max-width: 115px;
        padding: 7px 21px 11px 49px;
        font-size: 16px;
        line-height: calc(24 / 16);
    }
    .header__button-menu::before {
        width: 18px;
        height: 12px;
        top: 14px;
        left: 24px;
    }
    .form {
        right: 254px;
        min-width: 600px;
    }
    .header__serch {
        padding: 11px 0 15px 30px;
        font-size: 16px;
    }
    .header__serch {
        max-width: 533px;
        width: 100%;
        border-color: transparent;
    }
    .header__button-serch {
        left: 445px;
    }
    .header__list {
        gap: 30px;
    }
    .header__item-button {
        font-size: 12px;
        line-height: calc(15 / 12);
    }
    .header__item-button_login-icon::before {
        width: 20px;
        height: 20px;
        background-image: url(../img/login_20px.svg);
    }

    .header__item-button_cart-icon::before {
        width: 30px;
        height: 30px;
        bottom: 19px;
        background-image: url(../img/shopping_cart_30px.svg);
        background-repeat: no-repeat;
    }
    .header__item-button_favorites-icon::before {
        bottom: 20px;
        background-image: url(../img/like_30px.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px 30px;
        }
        .header__button-serch {
            max-height: 45px;
            bottom: 47px;
        }
}

@media (max-width:728px) {
        .header__serch {
        max-width: 429px;
        width: 100%;
        border-color: transparent;
    }
    .form {
        right: 84px;
    }
    .header__button-serch {
        left: 351px;
    }
    .header__serch {
        max-width: 343px;
        width: 100%;
        border-color: transparent;
    }
    .header__button-serch {
        left: 275px;
    }
}

@media (max-width:320px) {
    .header__wrapper {
        display: grid;
        grid-template-columns: 79px 130px ;
    }
    .header__button-menu {
        max-width: 79px;
        font-size: 12px;
        line-height: calc(18 / 12);
        padding: 5px 14px 7px 31px ;
    }
    .header__button-menu::before {
        top: 11px;
        left: 17px;
        width: 18px;
        height: 9px;
        background-image: url("../img/menu-line_10px.svg");
    }
    .header__list {
        max-width: 130px;
        gap: 25px;
    }
    
    .header__button-serch {
        left: 151px;
    }
    .header__serch {
        max-width: 143px;
        width: 100%;
    }
    .header__wrapper {
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "logo logo " 
        "menu list" 
        "form form ";
        }
    .header__item-text{
        display: none;
    } 
    .header__item-button_login-icon::before{
        bottom: 0;
    }

    .header__item-button_cart-icon::before{
        bottom: -7px;
        background-size: 25px 25px;
    }

    .header__item-button_favorites-icon::before {

        background-image: url("../img/like_20px.svg");
        bottom: -1px;
        background-size: 21px 25px;
        } 
        .header__logo {
            max-width: 114px;
            max-height: 25px;
        }
    .header__serch {
        max-width: 260px;
        width: 100%;
        padding: 9px 0px 11px 16px;
        font-size: 8px;
        line-height: calc(10 / 8);
        max-height: 30px;
    }
    .header__button-serch {
        padding: 15px 5px;
        max-height: 30px;
        max-width: 50px;
        top: -30px;
        left: 210px;
        background-size: 15px 15px;
    }
    .form {
        left: 0;
        max-width: 280px;
        max-height: 30px;
    }
} */
