:root {
    --primary-color-white: #fff;
    --primary-color-dark-blue: #3670C7;
    --primary-color-dark-white: #EFEFEF;
    --primary-color-grey: #8F8F8F;
    --primary-color-dark-grey:#2D2D2D;
    --primary-color-yellow: #FFBD13;
    --primary-color-blue: #38C0EB;  
    --primary-color-red: #F91155;  
}